
.controls {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 99999999;
}

.newGame,
.Exit,
.Rules {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid grey;
  background: lightsteelblue;
  cursor: pointer;
}

.fusuma_left {
  position: absolute;
  left: 0;
  top: 0;
  width: 49%;
  height: 100%;
  border-right: 15px solid dimgrey;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position: 0 0;
  transition: left 0.5s;
  z-index: 1600;
}

.fusuma_left_hide {
  position: absolute;
  left: -50%;
  top: 0;
  width: 50%;
  height: 100%;
  border-right: 15px solid dimgrey;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position: 0 0;
  transition: left 2s;
  z-index: 1600;
}

.fusuma_right {
  position: absolute;
  right: 0%;
  top: 0;
  width: 49%;
  height: 100%;
  border-left: 15px solid dimgrey;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position: 100% 0;
  transition: right 0.5s;
  z-index: 1600;
}

.fusuma_right_hide {
  position: absolute;
  right: -50%;
  top: 0;
  width: 50%;
  height: 100%;
  border-left: 15px solid dimgrey;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position: 100% 0;
  transition: right 2s;
  z-index: 1600;
}

/*-----------Rules--------------------*/

.hide_rules {
  position: absolute;
  top: -800px;
  left: 150px;
  transition: top 2s;
  z-index: 9999;
}

.show_rules {
  position: absolute;
  top: 15px;
  left: 150px;
  z-index: 9999;
  transition: top 2s;
}

.rules {  
  width: 800px;
  height: 650px;
  overflow: auto;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  background: #fffede;   			
}
.rules table {
  border-spacing: 0;
  border: 1px solid grey;
}
.rules th, .rules td {
  padding: 5px;
  border: 1px solid grey;
}
.rules p, .rules li {
  font-size: 18px;
}
.rules > .figure {
  width: 80px;
  height: 80px;
  -webkit-clip-path: polygon(50% 0, 90% 25%, 100% 100%, 0 100%, 10% 25%);
clip-path: polygon(50% 0, 90% 25%, 100% 100%, 0 100%, 10% 25%);
  background: grey;
}
