.reservBoard {
  width: 210px;
  height: 280px;
  margin: 4px;
  padding: 4px;
  border: 2px solid grey;
  background: url(../img/board.jpg);
}

.reservBoard > .figure {
  display: inline-block;
  width: 60px;
  height: 60px;
  -webkit-clip-path: polygon(50% 0, 90% 20%, 100% 100%, 0 100%, 10% 20%);
  clip-path: polygon(50% 0, 90% 20%, 100% 100%, 0 100%, 10% 20%);
  margin: 2px;
  background: url(../img/figure.jpg);
  text-align: center;
}